.container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.75rem;
}

.edit {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  & :first-child {
    color: #e92467;
    font-size: 1.2rem;
    transition: all ease-in 0.1s;

    &:hover {
      font-size: 1.3rem;
    }
  }
}

